.about {
  padding: 5rem max(0.5rem, calc(50vw - 700px));
  background-color: rgb(233, 233, 233);
  color: black;
}

.about-content-wrapper {
  padding: 2rem 0;
  flex-wrap: wrap;
  gap: 2rem;
  
}

.about-content {
  flex-direction: column;
  flex: 1;
}

.about-images {
  position: relative;
  overflow: hidden;
  flex: 1;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
}
.about-image {
  width: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border: 1px solid white;
}

.about-text {
  margin: auto;
  background-color:rgba(45 45 45 / 0.05); //var(--clr-text-background);
  //color: white;
  border-radius: 5px;
 
  p {
    padding: 1rem;
    font-size: 1rem;
  }
  h2 {
    padding: 1rem;
    font-size: 2.25rem;
    font-weight: 500;
  }
}
.about-gallery {
  flex-basis: 100%;
  position: relative;
  margin-top: 4rem;

  h2 {
    //text-align: center;
    //color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 500;
    background-color:rgba(45 45 45 / 0.05); //var(--clr-text-background);
    border-radius: 5px;
    width: fit-content;
    padding: 0.5rem;
  }
}

@media (max-width: 1050px) {
  .about-images {
    flex: auto;
  }
}

@media (max-width: 850px) {
  .about-content-wrapper {
    flex-direction: column;
  }
  .about-images {
    align-self: center;
  }
  .about-text {
    p {
      font-size: 0.875rem;
      text-align: center;
    }
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  }
  .about-gallery {
    h2 {
      font-size: 2rem;
      margin: 0 auto 1rem auto;
    }
  }

  .image-gallery-content .image-gallery-slide .image-gallery-image {
    height: 100vw;
  }
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  object-fit: cover;
}



@media (max-width: 400px) {
  
  .about-text {
    
    h2 {
      font-size: 1.5rem;
    }
  }
  .about-gallery {
    h2 {
      font-size: 1.5rem;
    }
  }
}

.about-gallery {
  h2 {
    font-size: min(3rem, 8vw);
  }
}