.item-detailed-wrapper{
.menu-item-wrapper {
  

    width: initial;
    max-width: initial;
    min-height: 75vh;
    display: flex;
    margin: 5rem max(0.5rem, calc(50vw - 700px));
    justify-content: center;
    align-items: center;

  .menu-item {
    flex-direction: row;
    cursor: auto;
    width: initial;
    max-width: initial;
  }

  .menu-item-content{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
  }

  .menu-item:hover {
    transform: none;
  }

  .menu-item-image {
    width: 100%;
    min-width: 300px;
    max-width: clamp(300px, 50vw, 500px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid white;
  }

  .menu-item-name {
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 500;
  }
  .menu-item-desc{
    font-size: 1.25rem;
  }
  .item-detailed-price {
    font-size: 2rem;
  }
  .menu-item-price-value {
    display: none;
  }

  .menu-item-order-button {
    width: 120px;
    padding: 0;
    height: 50px;
    font-size: 1.15rem;
    justify-self: auto;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  .item-detailed-sizes {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  .button-container
  {
    display: none;
  }
}
}

@media (max-width: 700px) {
  .item-detailed-wrapper{
  .menu-item-wrapper .menu-item {
    flex-direction: column;
    .item-detailed-price {
      flex-basis: 0;
    }
  }
  .menu-item-wrapper{
  .item-detailed-sizes {
    flex-direction: column;
  }
  .menu-item-name {
    flex-basis: 0;
  }
  .menu-item-image {
    width: clamp(300px, 50vw, 500px);
    max-width: initial;
    min-width: none;
  }
  .menu-item-content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: clamp(300px, 50vw, 500px);
  }
  .menu-item-desc {
    flex-basis: 0;
  }
  
  .item-detailed-sizes {
    grid-row-start: span 3;
  }
  .item-detailed-details {
    flex-basis: 0;
  }
}
  }
}
